<div>
   
    <div class="currency-details slide-top" ng-if="$parent.state.isLoaded">

        <h1 class="title clearfix ">
            <a href="#/" class="button is-dark back-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <img class="currency-logo" width="32" height="32" ng-src="https://files.coinmarketcap.com/static/img/coins/32x32/{{ urlFriendly(coin.Id) }}.png" alt="{{coin.Name}}" />
            {{meta && meta.H1Text ? meta.H1Text : coin.Name + ' (' + coin.Symbol +  ')'}}

        </h1>

        <div class="columns">
            <div class="column is-one-quarter">
                <div class="card  currency-profile-info">
                    <div class="card-content">
                        <div class="general-info"> 
                            <div class="general-age" ng-if="meta && meta.StartDate">
                                Age: {{ getAge(meta.StartDate) }}
                            </div>
                            <div ng-if="meta && meta.Website">
                                <a ng-href="{{meta.AffiliateUrl}}"><i class="fa fa-link" aria-hidden="true"></i><span class="general-label">Website</span></a> 
                            </div>
                            <div ng-if="meta && meta.Twitter">
                                <a ng-href="https://www.twitter.com/{{meta.Twitter.replace('@', '')}}">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <span class="general-label">{{meta.Twitter}}</span>
</a>
                            </div>
                            <div ng-if="socialStats.FacebookLink">
                                <a href="{{socialStats.FacebookLink}}"><i class="fa fa-facebook" aria-hidden="true"></i> <span class="general-label">Facebook</span></a>
                            </div>
                            <div ng-if="meta.ICO.Blog">
                                <a ng-href="{{meta.ICO.BlogLink}}"><i class="fa fa-rss" aria-hidden="true"></i> <span class="general-label">Blog</span></a>
                            </div>
                            <div ng-if="meta.ICO.WhitePaper">
                                <a ng-href="{{meta.ICO.WhitePaperLink}}"><i class="fa fa-book" aria-hidden="true"></i> <span class="general-label">White Paper</span></a>
                            </div>
                            <div ng-if="socialStats.CodeRepos && socialStats.CodeRepos.length">
                                <a href="{{socialStats.CodeRepos[0].Url}}"><i class="fa fa-code-fork" aria-hidden="true"></i> <span class="general-label">Repository</span></a>
                            </div>
                            <div  class="general-last-updated">Last Updated: {{coin.LastUpdated | date}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column currency-main-info">
                <div class="currency-price">
                    <span class="title-rank"><span class="title-rank-label">Rank</span><span class="title-rank-value">{{coin.Rank | number}}</span> </span>

                    <div class="currency-main-price">
                        <span ng-if="coin.PriceUsd > 0.01"> {{coin.PriceUsd | currency}} USD</span>
                        <span ng-if="coin.PriceUsd < 0.01"> {{coin.PriceUsd.toFixed(8)}} USD</span>
                        <span ng-class="{positive: coin.PercentChange24h > 0,  negative: coin.PercentChange24h < 0,  neutral: coin.PercentChange24h === 0}" class="currency-main-price-change">({{coin.PercentChange24h}}%)</span>
                    </div>
                    <div>{{coin.PriceBtc }} BTC</div>
                </div>

                <div class="currency-general-info" ng-class="{showAll: showAllGeneralInfo}">
                    <div class="columns currency-main-stats">
                        <div class="column"><div class="main-stat-label">Market Cap</div>{{coin.MarketCapUsd | currency}} USD</div>
                        <div class="column"><div class="main-stat-label">Volume</div>{{coin.Volume24hUsd | currency}} USD</div>
                        <div class="column"><div class="main-stat-label">Available Supply</div>{{coin.AvailableSupply | number }} {{coin.Symbol}}</div>
                        <div class="column"><div class="main-stat-label">Total Supply</div>{{coin.TotalSupply | number}} {{coin.Symbol}}</div>
                    </div>
                    <div ng-if="meta">
                        <span ng-bind-html="meta.Description"></span>

                        <div>Coins Mined: {{meta.TotalCoinsMined | number}}</div>
                        <div ng-if="meta.Technology" ng-bind-html="meta.Technology"></div>
                        <div ng-if="meta.ProofType">Proof Type: {{meta.ProofType}}</div>
                        <div ng-if="meta.Features">Features: <span ng-bind-html="meta.Features"></span></div>
                        <div ng-if="meta.DifficultyAdjustment">Difficulty Adjustment: {{meta.DifficultyAdjustment}}</div>
                        <div ng-if="meta.Algorithm">Algorithm: {{meta.Algorithm}}</div>
                    </div>
                </div>
                <div class="clearfix">
                    <a class="read-more-general-info" ng-tap="toggleGeneralInfo()">{{showAllGeneralInfo ? 'Read Less...' : 'Read More...'}}</a>
                </div>
            </div>
        </div>
        <div class="currency-bottom">
            <div class="tabs">
                <ul>
                    <li ng-click="bottomTabs.panel = 'charts'" ng-class="{'is-active': bottomTabs.panel === 'charts'}"><a>Charts</a></li>
                    <li ng-click="bottomTabs.panel = 'sentiment';resize_tweet();" ng-class="{'is-active': bottomTabs.panel === 'sentiment'}"><a>Sentiment</a></li>
                    <li ng-click="bottomTabs.panel = 'exchanges';getExchangeData();" ng-class="{'is-active': bottomTabs.panel === 'exchanges'}"><a>Exchanges</a></li>
                    <li ng-click="bottomTabs.panel = 'ico'" ng-class="{'is-active': bottomTabs.panel === 'ico'}"><a>ICO Info</a></li>
                    <li ng-click="bottomTabs.panel = 'rating'" ng-class="{'is-active': bottomTabs.panel === 'rating'}"><a>Rating</a></li>
                </ul>
            </div>
            <div class="tab-panel" ng-class="{active: bottomTabs.panel === 'charts'}">
                <div class="chart-wrapper">
                    <stock-chart id="test" options="config.stockChart" style="width:100%; height:600px;" ng-if="$parent.state.isLoaded"></stock-chart>
                </div>
            </div>
            <div id="sentiment-tab" class=" tab-panel" ng-class="{active: bottomTabs.panel === 'sentiment'}"> 
                <div class="sentiment-chart clearfix">
                    <canvas id="tweet-legend" width="79" height="352"></canvas>
                    <canvas id="tweet-canvas" width="800" height="352"> </canvas>
                </div>
            </div>
            <div class="tab-panel" ng-class="{active: bottomTabs.panel === 'exchanges'}">
                <div class="exchange-listing" ng-repeat="exchange in exchanges">
                    {{exchange}}
                </div>
            </div>
            <div class="tab-panel scores-panel" ng-class="{active: bottomTabs.panel === 'rating'}">
                <div>
                    <div >
                        <div class="clearfix">
                            <a class="btn btn-primary no-und" href="" ng-click="toggleAllWhys()" analytics-on="click" analytics-event="Toggle full score explanations">Show all details</a>
                        </div>
                        <dl class="dl-horizontal">
                            <dl ng-repeat-start="section in coinScoreLabels">

                                <dt class="section-title">
                                    {{ ::section.sectionTitle }}
                                </dt>
                                <dt class="c100 p{{ ::section.sectionScore }} dark green bad"   ng-class="{good: section.sectionScore > 70, okay: section.sectionScore > 50}">
                                    <span>{{ ::section.sectionScore }}%</span>
                                  
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </dt>
                                <dd class="sub-hdn"></dd>
                                <dd class="sub-item" ng-repeat-start="item in section.items" ng-click="item.expanded = !item.expanded">
                                    <div class="sub-item-header">
                                        <div class="sub-score" ng-class="{good: item.score/item.maxScore > 0.75, okay: item.score/item.maxScore > 0.5 && item.score/item.maxScore <= 0.75, bad:  item.score/item.maxScore < 0.5}">
                                            {{ ::item.score }}/<span class="max">{{ ::item.maxScore }}</span>
                                        </div>


                                        <div class="sub">
                                            {{ ::item.label }}
                                            <div ng-if="::item.sublabel" class="text-sm"><em>{{ ::item.sublabel }}</em></div>
                                        </div>
                                        <div class="item-expander ">
                                            <a href="" class="no-und">
                                                <i class="fa" ng-class="{ 'fa-caret-down': !item.expanded, 'fa-caret-up': item.expanded }"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="sub-expander" ng-show="item.expanded"> 
                                        <div class="score-data">
                                            <ul>
                                                <li ng-repeat="ref in item.scoreRefs">
                                                    <span class="ref-label">{{ ::ref.label }}</span> 
                                                    <span class="ref-data" ng-bind-html="::(ref.data | linky : '_blank') | NAToUpper"></span>            
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="score-methodology" ng-bind-html="::item.scoreMethodology"></div>
                                    </div> 
                                </dd>
                         
                                   
                                    
                                 
                                <span ng-repeat-end ng-hide="true"></span>
                            </dl>
                            <span ng-repeat-end ng-hide="true"></span>
                        </dl>
                    </div>
                   
                </div>
            </div>
            <div class="tab-panel currency-ico-info" ng-class="{active: bottomTabs.panel === 'ico'}">
                <div ng-if="!isDefaultDate(meta.ICO.date)">{{ meta.ICO.Date | date }}</div>
                <div ng-if="!isDefaultDate(meta.ICO.EndDate)">{{ meta.ICO.EndDate | date }}</div>
                <div>Features: {{ meta.ICO.Features }}</div>
                <div>Funding Cap: {{ meta.ICO.FundingCap }}</div>
                <div>Target: {{ meta.ICO.FundingTarget }}</div>
                <div>Funds Raised: {{ meta.ICO.FundsRaisedList }}</div>
                <div>Funds Raised USD: {{ meta.ICO.FundsRaisedUSD | currency }}</div>
                <div>ICO Token Supply: {{ meta.ICO.ICOTokenSupply | number }}</div>
                <div>Jurisdiction: {{ meta.ICO.Jurisdiction }}</div>
                <div>Legal Advisors: {{ meta.ICO.LegalAdvisers }}</div>
                <div>Legal Form: {{ meta.ICO.LegalForm }}</div>
                <div>Payment Method: {{ meta.ICO.PaymentMethod }}</div>
                <div>Public Portfolio ID: {{ meta.ICO.PublicPortfolioId }}</div>
                <div>Public Portfolio URL: {{ meta.ICO.PublicPortfolioUrl }}</div>
                <div>Security Audit Company: {{ meta.ICO.SecurityAuditCompany }}</div>
                <div>Start Price:  {{ meta.ICO.StartPrice }} {{ meta.ICO.StartPriceCurrency }}</div>
                <div>ICO Status: {{ meta.ICO.Status }}</div>
                <div>Investor Cut: {{ meta.ICO.TokenPercentageForInvestors }}</div>
                <div>Reserve: {{ meta.ICO.TokenReserveSplit }}</div>
                <div>Token Supply Post ICO: {{ meta.ICO.TokenSupplyPostICO }}</div>
                <div>Token Type: {{ meta.ICO.TokenType }}</div>
                <div>ICO Site: <span ng-bind-html="meta.ICO.Website"></span></div>
                <div>Whitepaper: <span ng-bind-html="meta.ICO.WhitePaper"></span></div>
            </div>
        </div>
    </div>
</div>